name: build

env:
  GOEXPERIMENT: jsonv2

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    uses: endobit/ci/.github/workflows/go-build.yaml@main
  lint:
    uses: endobit/ci/.github/workflows/go-lint.yaml@main
